.team-screen-table td {
  padding: 0% 1% !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  top: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #27ae60;
}

input:focus + .slider {
  box-shadow: 0 0 1px #27ae60;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.permissions-access {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.permissions-access input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.permissions-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid #717171;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.permissions-access:hover input ~ .permissions-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.permissions-access input:checked ~ .permissions-checkmark {
  background-color: #683cb8;
}

/* Create the permissions-checkmark/indicator (hidden when not checked) */
.permissions-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the permissions-checkmark when checked */
.permissions-access input:checked ~ .permissions-checkmark:after {
  display: block;
}

/* Style the permissions-checkmark/indicator */
.permissions-access .permissions-checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.access-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.access-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.access-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.access-container:hover input ~ .access-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.access-container input:checked ~ .access-checkmark {
  background-color: #683cb8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.access-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.access-container input:checked ~ .access-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/* .access-container .access-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} */
